.disabled {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
}

button {
  border: none;
}

.container {
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 400px;
  }
}

.burger-menu_button {
  background-color: transparent;
  border: none;
  width: 34px;
  height: 29px;
  padding: 0;
  background-size: cover;
}

.burger-menu_item {
  width: 100%;
  height: 100%;
}

.hearts-icons {
  display: inline-block;
}

.hearts-icons__item {
  display: block;
  width: 102px;
  height: 28px;
}

.flex-header {
  display: flex;
  align-items: center;
}

.flex-header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 71px;
  text-decoration: none;
}

.flex-header__logo-text {
  font-family: "Kelly Slab", cursive;
  color: #000;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .flex-header {
    height: 98px;
  }
}

.lang-btn {
  position: absolute;
  right: 0;
  font-weight: 300;
  padding: 0;
  border: none;
  background-color: #ce0002;
}

@media screen and (max-width: 1023px) {
  .lang-btn {
    width: 98px;
    height: 98px;
  }
}

.background-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 973px;
  background-color: #ffee2f;
}

@media screen and (max-width: 1023px) {
  .background-image {
    width: 305px;
  }
}

.hero {
  padding-top: 49px;
}

.hero__title {
  margin-bottom: 44px;
}

.hero__img {
  display: block;
}

.main-page {
  padding-top: 69px;
  padding-bottom: 88px;
}

.main-page__btn {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  padding: 15px;
}

.main-page__btn-content {
  position: absolute;
  top: 25%;
  text-align: start;
}

.main-page__description {
  margin-top: 25px;
  max-width: 345px;
}

.btn-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.23;
  margin: 0 auto;
  font-stretch: extra-condensed;
}

.btn-arrow {
  margin-top: 11px;
}

.company-achievments {
  padding-bottom: 148px;
}

.about-company {
  padding-top: 78px;
  padding-bottom: 51px;
}

.about-company__description:not(:last-child) {
  margin-bottom: 15px;
}

.about-company__title {
  margin-bottom: 24px;
}

.about-company__switch-pictures {
  padding-bottom: 40px;
}

.about-company__conditions {
  color: #000;
}

.achievments {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .achievments {
    flex-basis: calc((100%-161) / 2);
    max-width: 296px;
  }
  .achievments__item:not(:nth-child(2n)) {
    margin-right: 65px;
  }
  .achievments__item {
    width: 115px;
    height: 170px;
  }
  .achievments__item:not(:nth-child(n + 3)) {
    margin-bottom: 23.75px;
  }
  .achievments__item-icon {
    width: 44px;
    height: 44px;
    margin: auto;
  }
  .achievments__description {
    margin-top: 11.75px;
  }
}

.icon-bg {
  position: relative;
  display: flex;
  background-color: #e8d935;
  width: 85.62px;
  height: 85.62px;
}

.icon-shadow {
  position: absolute;
  z-index: -1;
  left: 14.38px;
  bottom: 15.62px;
  width: 85.62px;
  height: 85.62px;
  background-color: #f2e33a;
}

.our-team {
  padding-bottom: 61px;
}

.our-team__container {
  overflow: hidden;
}

.our-team__title {
  max-width: 267px;
  margin-bottom: 34px;
}

.our-team__list {
  display: flex;
}

.our-team__list-item:not(:last-child) {
  margin-right: 46px;
}

.our-team__description {
  margin-top: 16px;
}

.link-btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: #ce0002;
}

.social-icons__item {
  width: 25px;
  height: 25px;
}

.footer {
  background-color: #efefef;
}

.footer-content {
  display: flex;
  padding: 14px;
  height: 54px;
  justify-content: space-between;
  align-items: center;
}

.footer-content__social-item:not(:last-child) {
  margin-right: 9.72px;
}

.footer-content__social-icons {
  display: flex;
}

.footer-content__logo {
  display: flex;
  align-items: flex-end;
  color: #7e7e7e;
}

.footer-content__logo-unicode {
  margin-right: 5px;
  text-align: center;
}

.title {
  font-family: "Russo One", sans-serif;
  font-size: 32px;
  line-height: 1.18;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 352px;
}

.accent-text {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 32px;
  line-height: 1.25;
}

.secondaccent-text {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: #646464;
}

.switch-pictures {
  display: flex;
  justify-content: space-between;
}

.switch-pictures__btn {
  background-color: #f1f1f1;
  width: 67px;
  height: 67px;
}

.switch-pictures__img {
  display: block;
  margin: auto;
  width: 25px;
  height: 21px;
  fill: #000;
}

.is-active {
  background-color: #ce0002;
}
/*# sourceMappingURL=main.css.map */