h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font-family: $main-page-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $main-text-color;
}
button {
  border: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 1023px) {
    max-width: 400px;
  }
}

.accent-text {
  @include font($main-page-font, 32px, 1.25);
}

.secondaccent-text {
  @include font($main-page-font, 16px, 1.25);
  font-weight: 300;
  color: #646464;
}
