$extra-color: #ce0002;
$main-text-color: #000;
$mainPage-bgcolor: #ffee2f;
$btnTextColor: #ffffff;
$icons-bgcolor: #e8d935;
$logo-font: 'Kelly Slab', cursive;
$main-accent-font: 'Russo One', sans-serif;
$main-page-font: 'Fira Sans Extra Condensed', sans-serif;
