$extra-color: #ce0002;
$main-text-color: #000;
$mainPage-bgcolor: #ffee2f;
$btnTextColor: #ffffff;
$logo-font: 'Shadows Into Light', cursive;
$main-accent-font: 'Source Code Pro', monospace;
$main-page-font: ' Open Sans Condensed ', sans-serif;
