<div class="game-analyst visually-hidden">
    <h1 class="title games__title">Game analyst</h1>
    <p class="vacations__description">Наша компания выпустила более 10 игр на мобильные платформы, с общим количеством установок 30 миллионов по всему миру.Самые популярные из которых за счет усилий команды с каждым месяцем существенно увеличивают базу игроков.</p>

    <h2 class="vacations__head">Чем предстоит заниматься</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Написание SQL-запросов в БД Clickhouse, PostgreSQL, BigQuery</li>
        <li class="vacations__list-item">разработка отчетов и дашбордов в Tableau</li>
        <li class="vacations__list-item">Сбор требований и формализация задач для доработок системы хранения данных</li>
        <li class="vacations__list-item">Сбор и анализ данных из различных источников (БД, текстовые логи и тд.)</li>
    </ul>
    <h2 class="vacations__head">Ключевые требования</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Опыт работы в анализе данных и/или разработке ПО</li>
        <li class="vacations__list-item">Владение Python (в т.ч. библиотеками NumPy, Pandas, scikit-learn)</li>
        <li class="vacations__list-item">Уверенное знание SQL (оконные и аналитические функции, подзапросы)</li>
    </ul>
    <h2 class="vacations__head">Мы предлагаем</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Официальное оформление, отпуск и больничные без потери заработной платы</li>
        <li class="vacations__list-item">Полная компенсация дополнительного образования — курсы, иностранные языки</li>
        <li class="vacations__list-item">Комфортный и гибкий график работы</li>
        <li class="vacations__list-item">Просторный офис в сердце Киева</li>
        <li class="vacations__list-item">Релакс активности: йога, массаж в офисе, комната отдыха с Sony Playstation</li>
    </ul>
</div>