<div class="game-designer visually-hidden">
    <h1 class="title games__title">Game designer</h1>
    <p class="vacations__description">Если ты талантливый Game Designer, хочешь стать частью нашей команды, создавать и развивать интересные проекты —
    присоединяйся!</p>

    <h2 class="vacations__head">Чем предстоит заниматься</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Работой над мобильными приложениями и играми в соц.сетях</li>
        <li class="vacations__list-item">Созданием документации (дизайн документ) для существующих и новых приложений</li>
        <li class="vacations__list-item">Анализом различных игровых механик на рынке</li>
        <li class="vacations__list-item">Разработкой новых игровых механик, описанием идей и разработкой игровых концептов</li>
        <li class="vacations__list-item">Поддержкой и улучшением игровой экономики</li>
        <li class="vacations__list-item">Взаимодействием с дизайнерами и разработчиками</li>
       
    </ul>
    <h2 class="vacations__head">Ключевые требования</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">От 2+ лет опыта работы на должности Game Designer</li>
        <li class="vacations__list-item">Глубокие знания в области мобильных free-to-play игр: монетизация, виды рекламы, тренды, платформы, история игровой
        индустрии и т.п.</li>
        <li class="vacations__list-item">Умение последовательно, полно и однозначно доносить свои мысли команде в письменной и устной форме"</li>
        <li class="vacations__list-item">"Знание базовых
        принципов UX/UI и дизайнерской документации в мобильных приложениях</li>
        <li class="vacations__list-item">Опыт балансировки игр, монетизации, KPI, написания сценариев</li>
        <li class="vacations__list-item">Активный мониторинг новостей игрового рынка</li>
        <li class="vacations__list-item">Знание английского языка на уровне не ниже intermediate</li>
        <li class="vacations__list-item">Обширный игровой опыт в мобильных, PC и консольных играх</li>
        <li class="vacations__list-item">Знание базовых принципов UX/UI и дизайнерской документации в мобильных приложениях</li>
        
    </ul>
    <h2 class="vacations__head">Мы предлагаем</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Доступность руководства: любой ТОП-менеджер на расстоянии пары шагов/сообщения в чате</li>
        <li class="vacations__list-item">Возможность принять участие в масштабном международном проекте, которой сейчас активно развивается</li>
        <li class="vacations__list-item">Удобный офис на Печерске (м. «Печерская»)</li>
        <li class="vacations__list-item">Доступ к корпоративной электронной библиотеке</li>
        <li class="vacations__list-item">Оплату профильных курсов, участия в украинских и международных конференциях</li>
        <li class="vacations__list-item">Еженедельные занятия йогой, волейболом и футболом с коллегами</li>
        <li class="vacations__list-item">И да, если ты из другого города — мы с удовольствием тебя перевезем</li>
    </ul>
</div>