<div class="hr-manager visually-hidden">
    <h1 class="title games__title">HR manager</h1>
    <p class="vacations__description">Мы хотим, чтобы наши игры увидели как можно больше пользователей. Для усиления команды нам нужен HR Manager, который
    знает где и как найти классных разработчиков</p>

    <h2 class="vacations__head">Чем предстоит заниматься</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Планирование встреч и внутренних мероприятий с линейными руководителями в соответствии с потребностями компании</li>
        <li class="vacations__list-item">Поддержание менеджеров в процессах развития персонала и управления эффективностью сотрудников</li>
        <li class="vacations__list-item">Участие в определении потребностей сотрудников в обучении, организации тренингов, коммуникации с тренинговыми
        компаниями/тренерами</li>
        <li class="vacations__list-item">Участие в организации обучения для сотрудников уровня специалистов и линейных руководителей</li>
        <li class="vacations__list-item">Внедрение на местном уровне глобальных кадровых политик и руководящих принципов</li>
        <li class="vacations__list-item">Влияние на улучшение внутреннего микроклимата компании</li>
        <li class="vacations__list-item">Проведение внутренних интервью для выходящих сотрудников</li>
        <li class="vacations__list-item">Организация корпоративных и общественных мероприятий</li>
        <li class="vacations__list-item">Участие в HR-проектах с коллегами из 6-ти стран</li>
    </ul>
    <h2 class="vacations__head">Ключевые требования</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Полное оконченное высшее образование</li>
        <li class="vacations__list-item">Предыдущий опыт подбора и управления персоналом не менее 2-х лет</li>
        <li class="vacations__list-item">Предыдущий опыт работы фасилитатором/тренером будет плюсом</li>
        <li class="vacations__list-item">Знание различных методов собеседования и оценки</li>
        <li class="vacations__list-item">Хорошие навыки работы с ПК в Word, PowerPoint и Excel</li>
        <li class="vacations__list-item">Знание английского языка на уровне Upper-Intermediate</li>
    </ul>
    <h2 class="vacations__head">Мы предлагаем</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">медицинскую страховку, годовой бонус</li>
        <li class="vacations__list-item">возможность профессионального и карьерного роста, конкурентный уровень заработной
        платы, официальное оформление согласно Кзот, комфортабельный офис, корпоративный мобильный телефон и ноутбук</li>
    </ul>
</div>