<div class="mobile-menu visually-hidden">
    <div class="container">
        <div class="flex-header">
            <button class="cross-button">
                <img src="./images/cross.svg" alt="cross" class="cross-button__item">

            </button>
            <a href="" class="flex-header__logo backdrop-logo">
                <img src="./images/hearts.svg" alt="логотип">
                <p class="flex-header__logo-text">Toy.Stream</p>
            </a>
            <button class="lang-btn btn-text">ENG</button>
        </div>
    </div>
    <section class="mobile-menu__pages">
        <div class="backdrop-menu-container">
            <div class="mobile-menu__pages-item">
                <ul>
                    <li class="mobile-menu__pages-title">
                        <a href="./index.html" class="mobile-menu__pages-link">
                            <p class="title">Главная</p>
                        </a>
                    </li>
                    <li class="mobile-menu__pages-title">
                        <a href="./about-company.html" class="mobile-menu__pages-link">
                            <h2 class="title">Страница компания</h2>
                        </a>
                    </li>
                    <li class="mobile-menu__pages-title">
                        <a href="./games.html" class="mobile-menu__pages-link">
                            <p class="title">Игры</p>
                        </a>
                    </li>
                    <li class="mobile-menu__pages-title">
                        <a href="" class="mobile-menu__pages-link">
                            <p class="title">Карьера</p>
                        </a>
                    </li>
                    <li class="mobile-menu__pages-title">
                        <a href="" class="mobile-menu__pages-link">
                            <p class="title">Новости</p>
                        </a>
                    </li>
                    <li class="mobile-menu__pages-title">
                        <a href="" class="mobile-menu__pages-link">
                            <p class="title">Контакты</p>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="mobile-menu__social-icons">
                <ul class="footer-content__social-icons">
                    <li class="footer-content__social-item mobile-menu__social-icons-item">
                        <svg class="mobile-menu__social-icons-img">
                            <use href='./images/symbol-defs.svg#icon-pinterest'></use>
                        </svg>
                    </li>
                    <li class="footer-content__social-item mobile-menu__social-icons-item">
                        <svg class="mobile-menu__social-icons-img">
                            <use href='./images/symbol-defs.svg#icon-Behance'></use>
                        </svg>
                    </li>
                    <li class="footer-content__social-item mobile-menu__social-icons-item">
                        <svg class="mobile-menu__social-icons-img">
                            <use href='./images/symbol-defs.svg#icon-dribble'></use>
                        </svg>
                    </li>
                    <li class="footer-content__social-item mobile-menu__social-icons-item">
                        <svg class="mobile-menu__social-icons-img">
                            <use href='./images/symbol-defs.svg#icon-snapchat'></use>
                        </svg>
                    </li>
                    <li class="footer-content__social-item mobile-menu__social-icons-item">
                        <svg class="mobile-menu__social-icons-img">
                            <use href='./images/symbol-defs.svg#icon-linkedin'></use>
                        </svg>
                    </li>
                    <li class="footer-content__social-item mobile-menu__social-icons-item">
                        <svg class="mobile-menu__social-icons-img">
                            <use href='./images/symbol-defs.svg#icon-facebook'></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>

    </section>

</div>