<div class="motion-designer visually-hidden">
    <h1 class="title games__title">Motion designer</h1>
    <p class="vacations__description">Мы хотим, чтобы наши игры увидели как можно больше пользователей. Для усиления креативности игр нам нужен Motion
    designer, который знает как создавать самые креативные видеоролики</p>

    <h2 class="vacations__head">Чем предстоит заниматься</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Создавать высококачественные и креативные рекламные видеоролики</li>
        <li class="vacations__list-item">Участвовать в обсуждении сюжетов для маркетинговых креативов</li>
    </ul>
    <h2 class="vacations__head">Ключевые требования</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Умеешь самостоятельно создавать видео креативы/видеоролики с нуля, от идеи до реализации: динамика, цвет, звук, монтаж</li>
        <li class="vacations__list-item">Имеешь наработанное портфолио видеороликов (реклама,ТВ)</li>
        <li class="vacations__list-item">наешь Adobe After Effects, Premiere, Photoshop</li>
        <li class="vacations__list-item">Знаешь основные принципы анимации</li>
        <li class="vacations__list-item">Умеешь работать с вспомогательными программами и плагинами","Знаешь основы композиции, монтажные правила и приемы</li>
        <li class="vacations__list-item">Имеешь чувство ритма и умеешь работать с цветом</li>
    </ul>
    <h2 class="vacations__head">Мы предлагаем</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Возможность работать удаленно, частично удаленно или по гибкому графику в современном офисе в центре Киева или Одессы</li>
        <li class="vacations__list-item">Официальное трудоустройство (по трудовой книжке)</li>
        <li class="vacations__list-item">Мед. страховка (+100% оплата больничного)</li>
        <li class="vacations__list-item">Компенсация обедов и занятий спортом, скидка на консультации психолога, корпоративная онлайн-библиотека, онлайн занятия
        английским и йогой, ивенты и другие приятности</li>
        <li class="vacations__list-item">Молодой, дружный и талантливый коллектив</li>
        <li class="vacations__list-item">Возможность профессионального и карьерного роста</li>
        <li class="vacations__list-item">Конкурентоспособная заработная плата по результатам собеседования</li>
    </ul>
</div>