<div class="technical-artist visually-hidden">
    <h1 class="title games__title">Technical Artist 2D</h1>
    <p class="vacations__description">Мы хотим, чтобы наши игры увидели как можно больше пользователей. Для усиления технологичности игр нам нужен Technical
    Artist 2D, который знает самые последние графические технологии.</p>

    <h2 class="vacations__head">Чем предстоит заниматься</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Исследование и внедрение графических технологий</li>
        <li class="vacations__list-item">Разработка инструментов для оптимизации работы арт-отдела</li>
        <li class="vacations__list-item">Создание художественных пайплайнов и их внедрение</li>
        <li class="vacations__list-item">Создание материалов для персонажей и окружения</li>
    </ul>
    <h2 class="vacations__head">Ключевые требования</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Опыт работы с Unreal Engine</li>
        <li class="vacations__list-item">Опыт создания блюпринтов и материалов</li>
        <li class="vacations__list-item">Знание графических редакторов 3Ds Max/Maya/Blender</li>
        <li class="vacations__list-item">Актуальное портфолио</li>
        <li class="vacations__list-item">Опыт скриптинга на MaxSscript, Python</li>
        <li class="vacations__list-item">Опыт написания шейдеров на HLSL</li>
        <li class="vacations__list-item">Знание Substance Designer</li>
    </ul>
    <h2 class="vacations__head">Мы предлагаем</h2>
    <ul class="vacations__list">
        <li class="vacations__list-item">Многонациональная амбициозная команда профи</li>
        <li class="vacations__list-item">Отсутствие овертаймов</li>
        <li class="vacations__list-item">Официальное трудоустройство, белая ЗП, защищенная от инфляции</li>
        <li class="vacations__list-item">Английский</li>
        <li class="vacations__list-item">Оплачиваемый больничный и медстраховка</li>
        <li class="vacations__list-item">Компенсация занятий спортом</li>
        <li class="vacations__list-item">Современный офис и оборудование (Локации - Минск и Киев)</li>
        <li class="vacations__list-item">Для сотрудников не из Беларуси предусмотрена опция удаленной работы</li>
    </ul>
</div>