<div class="user-manager visually-hidden">
<h1 class="title games__title">User Acquisition Manager</h1>
<p class="vacations__description">Мы хотим, чтобы наши игры увидели как можно больше пользователей. Для усиления
    команды продвижения игр нам нужен User Acquisition Manager, который знает
    последние новинки мобильных игр и рекламных трендов.</p>
                
<h2 class="vacations__head">Чем предстоит заниматься</h2>
<ul class="vacations__list">
    <li class="vacations__list-item">Заводить кампании на Facebook, Google и работать с рекламными сетями;</li>
    <li class="vacations__list-item">Анализировать и оптимизировать кампании на основе собираемых метрик;</li>
    <li class="vacations__list-item">Предлагать идеи для креативов и тестировать их;</li>
    <li class="vacations__list-item">Держать руку на пульсе событий, исследовать рынок и плотно работать с креативной
                        командой.</li>
    <li class="vacations__list-item">Проводить эксперименты, A/B тестирования и их анализ</li>
    <li class="vacations__list-item">Формировать пул идей по креативам</li>
    <li class="vacations__list-item">Оперативно тестировать, анализировать результаты и проводить рефлексию.</li>
</ul>
<h2 class="vacations__head">Ключевые требования</h2>
<ul class="vacations__list">
    <li class="vacations__list-item">От 1 года аналогичного опыта с белыми мобильными приложениями</li>
    <li class="vacations__list-item">Опыт работы с Facebook и Google Ads</li>
    <li class="vacations__list-item">Upper-intermediate english</li>
    <li class="vacations__list-item">Желание развиваться в игровом маркетинге</li>
    <li class="vacations__list-item">Умение объяснить: LTV, ROI, ROAS, CPA\CPI\CPM и т.д.</li>
    <li class="vacations__list-item">Аналитический склад ума</li>
    <li class="vacations__list-item">Умение работать в команде</li>
    <li class="vacations__list-item">Личный игровой опыт</li>
    <li class="vacations__list-item">Умение решать сложные аналитические кейсы, ставить задачи (какие данные
        необходимы и достаточны, в каких разрезах, какую гипотезу решаем);</li>
    <li class="vacations__list-item">Умение работать с big data соответствующими инструментами (tableau, power pivot от
        Excel и другие)</li>
    <li class="vacations__list-item">Интерес к GameDev</li>
    <li class="vacations__list-item">Высшее образование (техническое — будет плюсом)</li>
</ul>
<h2 class="vacations__head">Мы предлагаем</h2>
<ul class="vacations__list">
    <li class="vacations__list-item">Новый офис в Москва Сити с бесконечным кофе и печеньками</li>
    <li class="vacations__list-item">Молодую команду увлеченных игровой индустрией профессионалов</li>
    <li class="vacations__list-item">Возможность реализовывать собственные идеи</li>
    <li class="vacations__list-item">Конкурентную заработную плату</li>
    <li class="vacations__list-item">Долю дохода от реализованных проектов</li>
    <li class="vacations__list-item">Профессиональный рост, участие в профильных конференциях, курсах и других
         мероприятиях по всему миру</li>
    <li class="vacations__list-item">Поддержку важных жизненных событий</li>
    <li class="vacations__list-item">Медицинскую страховку, оплату занятий спортом и другие бонусы</li>
</ul>
</div>  
                
                