.button-refs {
  height: 94px;
  max-width: 192px;
  background-color: $extra-color;
  align-items: center;

  &__text {
    margin-left: 0;
    max-height: 54px;
  }
  &__arrow {
    height: 42px;
    max-width: 20px;
    fill: $btnTextColor;
  }
}

.watch-works-btn {
  display: flex;
  margin-top: 32px;
  margin-left: 91px;
  padding: 20px;
}

.know-more-btn {
  display: block;
  padding: 26px 49px;

  &__text {
    margin-bottom: 5px;
  }
}
