.switch-pictures {
  display: flex;
  justify-content: space-between;

  &__btn {
    background-color: #f1f1f1;
    width: 67px;
    height: 67px;
  }

  &__img {
    display: block;
    margin: auto;
    width: 40px;
    height: 70px;
    fill: rgb(128, 124, 124);
  }
}

.is-active {
  background-color: $extra-color;
  fill: $btnTextColor;
}
.switch-pictures__btn.is-active .switch-pictures__img {
  fill: $btnTextColor;
}
