.career {
  &__description {
    margin-bottom: 24px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    padding: 28px 20px;
  }
  &__hero {
    margin-top: 34px;
  }
  &__hero-section {
    padding-bottom: 38px;
  }
  &__background-image {
    height: 848px;
    background-color: $gamePage-bgcolor;
  }
}

.our-vacations {
  padding-top: 98px;
  padding-bottom: 86px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin-top: 29px;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    width: 345px;
    height: 345px;
    padding: 23px 26px;
    background-color: #f5f5f5;
  }

  &__item:hover,
  &__item:focus {
    background-color: $extra-color;

    .our-vacations__item-name,
    .our-vacations__text,
    .our-vacations__arrows {
      color: $btnTextColor;
      fill: $btnTextColor;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 1023px) {
      margin-bottom: 30px;
    }
  }
  &__item-name {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26.76px;

    color: $main-text-color;
  }
  &__arrows {
    width: 91px;
    height: 30px;
    fill: $main-text-color;
  }
  &__text {
    color: $main-text-color;
  }
}

// СЕКЦИЯ ПРЕИМУЩЕСТВА РАБОТЫ В TOYSTREAM
.advantages-of-working {
  padding-top: 84px;
  padding-bottom: 101px;

  &__title {
    margin-bottom: 24px;
  }

  &__description-item:not(:last-child) {
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    @media screen and (max-width: 1023px) {
      flex-basis: calc((100%-240) / 2);
      // max-width: 296px;
    }
  }
  &__item:not(:nth-child(2n)) {
    margin-right: 120px;
  }
  &__item {
    width: 115px;
    height: 170px;
  }
  &__item:not(:nth-child(n + 3)) {
    margin-bottom: 23.75px;
  }

  &__item-icon {
    position: relative;
    z-index: 3;
    width: 44px;
    height: 44px;
    margin: auto;
  }
  &__description {
    margin-top: 11.75px;
  }
  &__icon-bg {
    display: flex;
    background-color: #f5f5f5;
    width: 85.62px;
    height: 85.62px;
    box-shadow: 14.38px -15.62px #fafafa;
  }
  &__icon-text {
    font-stretch: extra-condensed;
  }
}
