// СЕКЦИЯ ГЕРОЯ

.games-products,
.games__body-bg,
.game-header {
  background-color: $gamePage-sectionsBgColor;
}

.games {
  &__background-image {
    background-color: $gamePage-bgcolor;
  }
  &__section {
    padding-top: 78px;
    padding-bottom: 117px;
    background-repeat: no-repeat;

    // @media screen and (max-width: 1023px) {
    //   background-image: url(.././images/mobile-gamebg.webp);
    // }
    // @media screen and (min-width: 1024px) and (max-width: 1921px) {
    //   background-image: url(.././images/tablet-game-hero.webp);
    // }
    // @media screen and (min-width: 1922px) {
    //   background-image: url(.././images/desktop-game-hero.webp);
    // }
  }
  &__title {
    margin-bottom: 24px;
  }

  &__description:nth-child(2) {
    margin-bottom: 15px;
  }
  &__description:nth-child(3) {
    margin-bottom: 25px;
  }

  //   удалить, заменив на отзывчивые
  &__hero {
    display: block;
    margin-top: 43px;
    margin: auto;
  }

  &__img {
    display: block;
    margin-bottom: 30px;
  }
}

// СЕКЦИЯ ПРОЕКТОВ
.our-projects {
  &__item:not(:last-child) {
    @media screen and (max-width: 1027px) {
      margin-bottom: 60px;
    }
  }
  &__item:last-child {
    @media screen and (max-width: 1027px) {
      margin-bottom: 82px;
    }
  }
}

.games-products {
  padding-bottom: 125px;
}

// СЕКЦИЯ ПОСЛЕДНИХ ПРОЕКТОВ
.last-projects {
  padding-top: 118px;
  padding-bottom: 131px;

  &__container {
    overflow: hidden;
  }

  &__main-title {
    margin-bottom: 34px;
  }

  &__title {
    font-family: $main-page-font;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__img {
    margin-bottom: 16px;
  }
  &__description {
    margin-top: 1px;
  }

  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 57px;
  }
  &__know-more-btn {
    display: block;
    max-width: 219px;
    height: 75.8px;
    margin-top: 21px;
    padding: 20px 28px;
    text-align: center;
    background-color: $extra-color;
  }
  &__description-box {
    height: 121px;
  }
  &__switch-pictures {
    margin-top: 67.21px;
  }
}
