.games {
  &__background-image {
    background-color: $gamePage-bgcolor;
  }
  &__section {
    padding-top: 78px;
    padding-bottom: 117px;
    background-repeat: no-repeat;

    // @media screen and (max-width: 1023px) {
    //   background-image: url(.././images/mobile-gamebg.webp);
    // }
    // @media screen and (min-width: 1024px) and (max-width: 1921px) {
    //   background-image: url(.././images/tablet-game-hero.webp);
    // }
    // @media screen and (min-width: 1922px) {
    //   background-image: url(.././images/desktop-game-hero.webp);
    // }
  }
  &__title {
    margin-bottom: 24px;
  }

  &__description:not(:last-child) {
    margin-bottom: 15px;
  }

  //   удалить, заменив на отзывчивые
  &__hero {
    display: block;
    margin-top: 43px;
    margin-left: auto;
  }
}
