header .background-image {
  height: 98px;
}
.burger-menu_button {
  background-color: transparent;

  border: none;
  width: 34px;
  height: 29px;
  padding: 0;
  background-image: url(../images/burger.svg);
  background-size: cover;
}

.burger-menu_item {
  width: 100%;
  height: 100%;
}

.hearts-icons {
  display: inline-block;

  &__item {
    display: block;
    width: 102px;
    height: 28px;
  }
}

.flex-header {
  display: flex;
  align-items: center;

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 71px;
    text-decoration: none;
  }
  &__logo-text {
    font-family: $logo-font;
    color: $main-text-color;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 1023px) {
    height: 98px;
  }
}

.lang-btn {
  position: absolute;
  right: 0;
  font-weight: 300;
  padding: 0;
  border: none;
  background-color: $extra-color;

  @media screen and(max-width:1023px) {
    width: 98px;
    height: 98px;
  }
}

.background-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  background-color: $mainPage-bgcolor;

  @media screen and(max-width:1023px) {
    width: 305px;
  }
}
