.main-page {
  padding-top: 69px;
  padding-bottom: 88px;
  &__btn {
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    padding: 15px;
  }

  &__btn-content {
    position: absolute;
    top: 25%;
    text-align: start;
  }

  &__description {
    margin-top: 25px;
    max-width: 345px;
  }
}
.btn-text {
  color: $btnTextColor;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.23;
  margin: 0 auto;
  font-stretch: extra-condensed;
}

.btn-arrow {
  margin-top: 11px;
}
